/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-space {
    justify-content: space-between;
}

.text-size {
    font-size: 1.5em;
}

.img-resize {
    max-width: 120px;
    max-height: 120px;
}

/* Hero Section */
.hero-section, .about-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section {
    background-image: url('./img/bg-img4-light.jpg');
}

.about-section {
    background-image: url('./img/bg-img4-light.jpg');
}

.home-text2 h1, .home-text2 p {
    color: black;
}

/* Light Mode */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode .hero-section, body.light-mode .about-section {
    background-image: url('./img/bg-img4-light.jpg');
}

body.light-mode .home-text2 h1, body.light-mode .home-text2 p {
    color: black;
}

/* Dark Mode */
body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

body.dark-mode .hero-section, body.dark-mode .about-section {
    background-image: url('./img/bg-img2-dark.jpg');
}

body.dark-mode .home-text2 h1, body.dark-mode .home-text2 p {
    color: white;
}

/* Button Styling */
button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #539d98;
    color: white;
    font-size: 1rem;
}

/* Default Link Styling */
header a {
    text-decoration: none;
    transition: color 0.5s ease;
}

/* Light Mode Link Styling */
body.light-mode header a {
    color: black; /* Black text for light mode */
}

/* Dark Mode Link Styling */
body.dark-mode header a {
    color: white; /* White text for dark mode */
}